"Hello Spencer"
<form action="/recipes" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="name" />
    </li>
    <li>
      <label for="content">Content</label>
      <input id="content" type="text" name="ingredients" />
    </li>
    <li>
      <label for="content">Cook Time</label>
      <input id="content" type="text" name="cook_time" />
    </li>
  </ul>
  <input type="submit" />
</form>